name: poc-next-postgres

services:
  # db:
  #   image: postgres:16-alpine
  #   environment:
  #     POSTGRES_USER: ${POSTGRES_USER:-postgres}
  #     POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
  #     POSTGRES_DB: ${POSTGRES_DB:-postgres}
  #   healthcheck:
  #     test: ["CMD", "pg_isready", "-U", "postgres"]
  #     interval: 5s
  #     timeout: 5s
  #     retries: 20
  #   volumes:
  #     - ./postgres/data:/var/lib/postgresql/data
  
  web:
    build:
      context: .
      dockerfile: Dockerfile
      target: runner
    restart: unless-stopped
    depends_on:
      migrate:
        condition: service_completed_successfully
    environment:
      DATABASE_URL: ${DATABASE_URL:-postgresql://postgres:postgres@db:5432/postgres?schema=public}
      NODE_ENV: '${NODE_ENV:-production}'
      NEXT_TELEMETRY_DISABLED: '1'
      PORT: '3000'

  migrate:
    build:
      context: .
      dockerfile: Dockerfile
      target: builder
    restart: "no"
    command: /bin/sh -c "./node_modules/.bin/prisma migrate deploy"
    environment:
      DATABASE_URL: ${DATABASE_URL:-postgresql://postgres:postgres@db:5432/postgres?schema=public}
